<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forms.css">
    <title>Register</title>
</head>

<body>

    <div class="container">
        <form action="" method="get">
            <h2 class="main_heading">Register</h2>
            <p>Name:*<input type="text" name="name" id="name" required placeholder="Enter your name"></p>
            <p>Email:*<input type="email" name="email" id="email" required placeholder="Eg: abc@xyz.com"></p>
            <p>Gender</p>
                <p>
                    Male <input type="radio" name="gender" id="">
                    Female <input type="radio" name="gender" id="">
                    Non-binary <input type="radio" name="gender" id="">
                    Rather not say <input type="radio" name="gender" id="">
            <p>Do you want to be an admin?</p>
            <p style="font-size: 12px;">A request will be sent to the main admin</p>
            <p>Yes <input type="radio" name="admin" value="" id="">
                No <input type="radio" name="admin" value="" id="">
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>